$light: #FFFFFF;
$accent: #DEC377;
$accent40: rgba(222, 195, 119, 0.4);
$accent75: rgba(222, 195, 119, 0.75);

@mixin comissioner-13 {
    font-family: Commissioner;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

@mixin comissioner-14 {
    font: {
        family: Commissioner;
        style: normal;
        weight: 500;
        size: 14px;
    }
    line-height: 20px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
}

@mixin h1-style{
    font: {
        family: Commissioner;
        size: 40px;
        style: normal;
        weight: 400;
    }
    line-height: 50px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.9);
}

h2 {
    font: {
        family: Commissioner;
        size: 28px;
        style: normal;
        weight: 400;
    }
    line-height: 40px;
    letter-spacing: 0.03em;
}

h3 {
    font: {
        family: Commissioner;
        size: 26px;
        style: normal;
        weight: 700;
    }
    line-height: 40px;
    letter-spacing: 0.01em;
}

h4 {
    font: {
        family: Commissioner;
        size: 26px;
        style: normal;
        weight: 400;
    }
    line-height: 45px;
}

h5 {
    font: {
        family: Commissioner;
        size: 20px;
        style: normal;
        weight: 400;
    }
    line-height: 30px;
    letter-spacing: 0em;
}

@mixin main-text {
    font: {
        family: 'LatoRegular';
        size: 15px;
        style: normal;
        weight: 300;
    }
    line-height: 25px;
    color: rgba(0, 0, 0, 0.8);
}

@mixin additional-text{
    font: {
        family: 'LatoRegular';
        size: 13px;
        style: normal;
        weight: 300;
    }
    line-height: 20px;
}

@mixin button-text {
    font: {
        family: 'LatoRegular';
        size: 12px;
        style: normal;
        weight: 600;
    }
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

@mixin button {
    background: $accent;
    color: $light;
    text-transform: uppercase;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
    width: 1920px;
}

.header {
    background: #fff;
    height: 150px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 1232px;
        height: 100%;
        margin-left: 375px;
    }

    &__top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .header__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                color: #0005;
                padding-right: 15px;
                padding-left: 15px;
            }

            img:nth-child(n+2) {
                padding-left: 10px;
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: flex;
            justify-content: space-between;
            

            .list {
                display: flex;
                justify-content: space-between;
                width: 740px;
    
                &__item {
                    list-style-type: none;
                    
                    &_link {
                        @include comissioner-14();
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.main {
    &-screen {
        &__slider {
            position: absolute;
            height: 650px;
            width: 100%;
            top: 150px;
            overflow: hidden;
            z-index: -1;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 500px;
            height: 240px;
            margin-top: 160px;
        }

        &__title {
            @include h1-style();
        }

        &__subtitle {
            @include main-text();
            margin-top: 20px;
        }

        &__button {
            @include button();
            margin-top: 50px;
        }
    }

    .arrows {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 120px;
        height: 60px;
        margin-top: 90px;

        &__item:hover {
            cursor: pointer;
            filter: opacity(70%);
        }
    }

    .advantages {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 270px;
            height: 285px;
            padding: 40px 20px;

            &_img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 120px;
                border: 3px solid rgba(0, 0, 0, 0.1); 
                border-radius: 50%;
            }

            &_subtitle {
                height: 50px;

                font: {
                    family: 'LatoRegular';
                    size: 16px;
                    style: normal;
                    weight: 400;
                }
                line-height: 25px;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.75); 
                text-align: center;
                vertical-align: top;
            }
        }
    }

    .introduction {
        margin-top: 100px;

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            padding: 50px 0 0 70px;
            text-align: left;

            &_title {
                width: 540px;
            }

            &_description {
                width: 470px;
                
                p {
                    @include main-text();
                    margin-top: 30px;
                }
            }
        }
    }

    .directions {
        margin-top: 100px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .list__card {
                display: flex;
                justify-content: space-between;
                width: 370px;
                height: 140px;
                margin-top: 30px;

                &_content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 180px;
                    margin: 25px 0 25px 40px;
                }

                &_link {
                    @include button-text();
                }

                &_image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid rgba(0, 0, 0, 0.1); 
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    margin-top: 15px;
                    margin-right: 15px;
                }
            }
        }

        &__button {
            @include button();
            margin-top: 40px;
        }
    }

    .direction-principles {
        margin-top: 100px;
        &__wrapper {
            display: flex;
            align-items: center;
            width: 1370px;
            margin: 0 auto;
        }

        &__content {
            display: flex;
        }

        &__description {
            @include main-text();
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 770px;
            height: 200px;
        }

        &__image {
            margin-top: 60px;
        }

        &__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 100px;
            padding-top: calc(820px/3);

            img:hover {
                filter: opacity(70%);
            }
        }
    }

    .background__white {
        position: absolute;
        background: $light;
        height: 1345px;
        width: 100%;
        top: 3290px;
        left: 0;
        z-index: -1;
    }

    .reviews {
        margin-top: 100px;

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__card {
            display: flex;
            flex-direction: column;
            width: 570px;
            height: 585px;
            margin-top: 35px;

            &_image {
                background-image: url(assets/images/review-card.png);
                height: 100px;
            }

            &_content {
                padding: 40px 50px;
            }

            &_position {
                @include main-text();
                color: rgba(0, 0, 0, 0.5);
                font-weight: 400;
            }

            &_name {
                color: $accent;
            }

            &_description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 295px;
                margin-top: 20px;

                p {
                    @include main-text();
                    font-size: 14px;
                    letter-spacing: 0.01em;
                }
            }

            &_button {
                @include button-text();
            }
        }

        &__navigation {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 20px;
            flex-grow: 1;

            &_button {
                @include button();
                margin-top: 10px;
            }

            &_slider {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 50px;
                height: 60px;

                &-wrapper {
                    display: flex;
                    justify-content: center;
                }

                .slider__link {
                    background: #0001;
                    border: none;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;

                    &_active {
                        background: $accent;
                    }
                }
            }

            &_arrow {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 120px;
                height: 60px;

                &-wrapper {
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }

    .clients {
        margin-top: 100px;

        &__description {
            display: flex;
            p {
                @include main-text();
                width: 670px;
                margin-right: 100px;
            }
        }

        &__button {
            @include button();
            background: transparent;
            color: $accent;
            border: 3px solid $accent;
        }

        &__logo {
            display: flex;
            justify-content: space-between;
            mix-blend-mode: luminosity;
            width: 1130px;
            margin: 40px auto;
        }
    }

    .triangle {
        margin-top: 180px;

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__card {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 570px;
            height: 305px;
            padding: 40px 50px;

            p {
                @include main-text();
                margin-top: 15px;
            }

            &:nth-child(2) {
                &::after {
                    content: ''; 
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: 35px solid transparent; 
                    border-top: 35px solid $accent; 
                    border-right: 35px solid $accent;
                }
            }

            &:nth-child(3) {
                flex-direction: row;
                width: 100%;
                height: 185px;
                margin-top: 30px;

                p {
                    width: 720px;
                    margin-top: 0;
                }
            }
        }
    }

    .background__iamge {
        background: url(assets/images/background-img.png);
        width: 100%;
        height: 180px;
        margin-top: 100px;
    }

    .services {
        margin-top: 80px;

        &__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 5px;

            &_item {
                display: flex;
                background: $light;
                margin-top: 30px;
                height: 140px;

                .color-block {
                    background: $accent;
                    width: 70px;
                    height: 100%;
                }

                .color-accent40 {
                    background: $accent40;
                }

                .color-accent75 {
                    background: $accent75;
                }
            }

            .item {
                &__width-470 {
                    width: 470px;
                }
    
                &__width-570 {
                    width: 570px;
                }
    
                &__width-670 {
                    width: 670px;
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    padding: 25px 30px 20px 30px;

                    .item__link {
                        @include button-text();
                        text-align: right;
                    }
                }
            }

        }

        &__description {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;

            p {
                @include main-text();
                width: 770px;
            }
        }

        &__button {
            @include button();
        }
    }

    .confidence {
        margin-top: 100px;
        padding: 80px 0 100px 0;

        &__card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 1060px;

            .card__info {
                width: 470px;

                &_description {
                    @include main-text();
                    margin-top: 30px;
                }
            }

            .card__list {
                display: flex;
                width: 440px;

                &_item {
                    display: flex;
                    list-style-type: none;
                    width: 440px;

                    &:nth-child(n+2) {
                        margin-top: 25px;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        margin-left: 30px;
                        
                        font: {
                            family: 'LatoRegular';
                            size: 17px;
                            style: normal;
                            weight: 600;
                        }
                        line-height: 30px;
                        letter-spacing: 0.01em;
                        color: rgba(0,0,0,0.75);
                    }

                    img {
                        height: 100%;
                    }
                }
            }
        }

        &__line {
            background: rgba(0, 0, 0, 0.1);
            transform: matrix(1, 0, 0, -1, 0, 0);
            height: 1px;
            margin: 60px 0;
        }
    }

    .our-advantages {
        margin-top: 80px;

        &__card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 335px;
            margin-top: 35px;

            &_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 270px;
                border-radius: 5px;
                padding: 40px 20px;

                .item__image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 120px;
                    height: 120px;
                    border: 3px solid rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    margin-top: 10px;
                }

                .item__content {
                    text-align: center;
                    color: rgba(0, 0, 0, 0.75);
                    margin-top: 25px;

                    font: {
                        family: 'LatoRegular';
                        size: 16px;
                        style: normal;
                        weight: 600;
                    }
                    line-height: 25px;
                    letter-spacing: 0.02em;
                }
            }
        }

        &__description {
            position: relative;
            @include main-text();
            margin-top: 40px;
            padding: 40px 370px 45px 50px;

            &::after {
                content: ''; 
                position: absolute;
                top: 0;
                right: 0;
                border: 35px solid transparent; 
                border-top: 35px solid $accent; 
                border-right: 35px solid $accent;
            }
        }
    }

    .cooperation {
        margin-top: 100px;

        &__wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            width: 500px;
        }

        &__list {
            margin: 35px 0;

            &_item {
                display: flex;
                justify-content: space-between;

                .item__num {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $accent;
                    width: 70px;
                    height: 70px;
                    border: 1px solid $accent75; 
                    border-radius: 50%;

                    font: {
                        family: Commissioner;
                        size: 22px;
                        style: normal;
                        weight: 800;
                    }
                    line-height: 67px;
                }

                p {
                    @include main-text();
                    font-weight: 600;
                    width: 400px;
                }
            }
        }

        &__description {
            @include main-text();
            font-size: 14px;
            letter-spacing: 0.01em;
        }

        &__form {
            width: 570px;
            padding: 40px 50px 50px 50px;

            form {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                
                p {
                    @include comissioner-13();
                    color: rgba(0, 0, 0, 0.5);
                    &:first-child {
                        font-weight: 600;
                    }
                }

                input {
                    @include main-text();
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    height: 35px;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }

                .cooperation__button {
                    @include button();
                    width: 100%;
                    margin-top: 25px;
                }

                .cooperation__condition {
                    font-family: 'LatoRegular';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.5);

                    a {
                        color: rgba(0, 0, 0, 0.5);
                        font-weight: 700;
                    }
                }
            }
        }
    }
    
    .cost {
        margin: 100px 0;

        &__description {
            @include main-text();
            width: 670px;
            margin: 30px 0;
        }

        &__button {
            @include button();
        }
    }

}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 50px;

    .wrapper {
        display: flex;
    }

    .content {
        width: 270px;

        &__info {
            margin: 70px 0 60px;

            p {
                @include additional-text();

                span {
                    @include comissioner-13();
                    font-weight: 500;
                }
            }
        }

        &__networks {
            display: flex;
            justify-content: space-between;
            width: 255px;
        }
    }

    .offices {
        display: flex;
        flex-direction: column;
        width: 670px;
        margin-top: 35px;

        &__title {
            @include main-text();
            font-weight: 400;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding-bottom: 5px;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            .office__city {
                margin-bottom: 35px;
                &_title {
                    text-transform: uppercase;
                    font-family: Commissioner;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0.04em;
                }
            }
        }
    }

    .hours {
        width: 170px;
        margin-top: 35px;
    }
}


.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.block_content {
    background: $light;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}


