h2 {
  font-family: Commissioner;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.03em;
}

h5 {
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #E5E5E5;
  width: 1920px;
}

.header {
  background: #fff;
  height: 150px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1232px;
  height: 100%;
  margin-left: 375px;
}

.header__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-content .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-content .header__contacts span {
  color: #0005;
  padding-right: 15px;
  padding-left: 15px;
}

.header__top-content .header__contacts img:nth-child(n+2) {
  padding-left: 10px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 740px;
}

.header__content .menu .list__item {
  list-style-type: none;
}

.header__content .menu .list__item_link {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.main-screen__slider {
  position: absolute;
  height: 650px;
  top: 150px;
  left: 0;
  z-index: -1;
}

.main-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 500px;
  height: 240px;
  margin-top: 160px;
}

.main-screen__title {
  font-family: Commissioner;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
}

.main-screen__subtitle {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

.main-screen__button {
  background: #DEC377;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 200px;
  height: 45px;
  margin-top: 50px;
  border: none;
  border-radius: 2px;
}

.main .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 120px;
  height: 60px;
  margin-top: 90px;
}

.main .arrows__item:hover {
  cursor: pointer;
  -webkit-filter: opacity(70%);
          filter: opacity(70%);
}

.main .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.main .advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 285px;
  padding: 40px 20px;
}

.main .advantages__item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.main .advantages__item_subtitle {
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  vertical-align: top;
}

.main .introduction {
  margin-top: 100px;
}

.main .introduction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .introduction__content {
  padding: 50px 0 0 70px;
  text-align: left;
}

.main .introduction__content_title {
  width: 540px;
}

.main .introduction__content_description {
  width: 470px;
}

.main .introduction__content_description p {
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 30px;
}

.main .directions {
  margin-top: 100px;
}

.main .directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .directions__list .list__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 370px;
  height: 140px;
  margin-top: 30px;
}

.main .directions__list .list__card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 25px 40px;
}

.main .directions__list .list__card_link {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.main .directions__list .list__card_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-right: 15px;
}

.main .directions__button {
  background: #DEC377;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 200px;
  height: 45px;
  margin-top: 50px;
  border: none;
  border-radius: 2px;
  margin-top: 40px;
}

.main .direction-principles__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1370px;
  margin: 0 auto;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.block_content {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */